@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Strong-cyan: hsl(172, 67%, 45%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-Grayish-Cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-Grayish-Cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --space-mono: 'Space Mono';
}
.result{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Very-dark-cyan);
    border-radius: 18px;
    padding: 20px 0;
}
.calculation{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
}
.tip-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.tip-amount p{
    font-family: var(--space-mono);
    color: white;
    padding-left: 20px;
}
.tip-amount p span{
    color: var(--Dark-grayish-cyan);
    font-size: 13px;
}
.tip-amount p:last-child{
    color: var(--Strong-cyan);
    font-size: 38px;
    font-weight: 600;
    padding: 0 24px;
    background: url('../assets/icon-dollar\ \(copy\).svg') no-repeat left;
    background-size: 20px;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}
.total p{
    font-family: var(--space-mono);
    color: white;
    padding-left: 20px;
}
.total p span{
    color: var(--Dark-grayish-cyan);
    font-size: 13px;

}
.total p:last-child{
    color: var(--Strong-cyan);
    font-size: 38px;
    font-weight: 600;
    padding: 0 24px;
    background: url('../assets/icon-dollar\ \(copy\).svg') no-repeat left;
    background-size: 20px;
}
.btn{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
}
.resetBtn{
    width: 90%;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    background-color: var(--Strong-cyan);
    border-radius: 6px;
    color: var(--Very-dark-cyan);
    font-size: 16px;
    font-family: var(--space-mono);
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}
.resetBtn:hover{
    background-color: var(--Light-grayish-cyan);
}
.reset{
    width: 90%;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 6px;
    color: var(--Very-dark-cyan);
    background-color: var(--Dark-grayish-cyan);
    font-size: 16px;
    font-family: var(--space-mono);
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
}
@media (max-width: 375px) {
    .result{
        width: 100%;
        margin: 20px 0px;
    }
}